<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Available IPs</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.min.js"></script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <div class="navbar_logo">
          <a href="{{ url_for('main.index') }}">
            <img
              class="logo_img"
              src="{{ url_for('static', filename='images/keystone_logo.png') }}"
              alt="keystone_logo"
            />
          </a>
        </div>
        <div class="navbar_links">
          <p class="navbar_link">Home</p>
          <p class="navbar_link">About the Tool</p>
          <p class="navbar_link">History</p>
          <p class="navbar_link">Contact Us</p>
        </div>
      </nav>

      <div class="header" style="display: flex; flex-direction: column">
        <div style="display: flex; align-items: center; gap: 20px">
          <div class="tool_numbers">
            <h1>3</h1>
          </div>
          <h1>Available IPs</h1>
        </div>

        <div style="width: 50%">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
            nostrum minus neque consequatur provident ipsam impedit ea, suscipit
            et ipsa. Officia optio dolore deserunt nulla aperiam! Rem aliquam
            eum obcaecati?
          </p>
        </div>

          <table>
            <thead>
              <tr>
                <th>IP Address</th>
                <th>IP Address</th>
                <th>IP Address</th>
                <th>IP Address</th>
                <th>IP Address</th>
                <th>IP Address</th>
              </tr>
            </thead>
            <tbody id="occupied_ips_table">
              <!-- Occupied IPs will be inserted here -->
            </tbody>
          </table>
        <div class="button-container"></div>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var socket = io.connect(
          "http://" + window.location.hostname + ":" + window.location.port
        );
        var occupiedIps = [];
        var params = new URLSearchParams(window.location.search);
        var gateway_ip = params.get("gateway_ip");
        var interface = params.get("interface");
        var gateway_netmask = params.get("gateway_netmask");

        socket.on("occupied_ip", function (data) {
          occupiedIps.push(data.ip);
          var tbody = document.getElementById("occupied_ips_table");
          if (tbody) {
            var row;
            if (occupiedIps.length % 6 === 1) {
              row = document.createElement("tr");
              tbody.appendChild(row);
            } else {
              row = tbody.lastElementChild;
            }
            var cell = document.createElement("td");
            cell.textContent = data.ip;
            row.appendChild(cell);
          }
        });

        socket.on("scan_complete", function () {
          var buttonContainer = document.querySelector(".button-container");
          if (buttonContainer) {
            var showAvailableIpsButton = document.createElement("button");
            showAvailableIpsButton.innerText = "Discover Free IPs";
            showAvailableIpsButton.classList.add("header_button");
            showAvailableIpsButton.addEventListener("click", function () {
              var occupiedIpsStr = occupiedIps.join(",");
              window.location.href =
                "/free_ips?interface=" + interface + 
                "&gateway_ip=" + gateway_ip +
                "&gateway_netmask=" + gateway_netmask +
                "&occupied_ips=" + occupiedIpsStr;
            });
            buttonContainer.appendChild(showAvailableIpsButton);
          }
        });

        socket.emit("start_ip_scan", { gateway_ip: gateway_ip });
      });
    </script>
  </body>
</html>
