<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free IPs</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <div class="navbar_logo">
          <a href="{{ url_for('main.index') }}">
            <img
              class="logo_img"
              src="{{ url_for('static', filename='images/keystone_logo.png') }}"
              alt="keystone_logo"
            />
          </a>
        </div>
        <div class="navbar_links">
          <p class="navbar_link">Home</p>
          <p class="navbar_link">About the Tool</p>
          <p class="navbar_link">History</p>
          <p class="navbar_link">Contact Us</p>
        </div>
      </nav>

      <div class="header" style="display: flex; flex-direction: column">
        <div style="display: flex; align-items: center; gap: 20px">
          <div class="tool_numbers">
            <h1>4</h1>
          </div>
          <h1>Free IPs</h1>
        </div>

        <div style="width: 50%">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
            nostrum minus neque consequatur provident ipsam impedit ea, suscipit
            et ipsa. Officia optio dolore deserunt nulla aperiam! Rem aliquam
            eum obcaecati?
          </p>
        </div>

        <form
          id="configure_ip_form"
          style="width: 100%"
          action="{{ url_for('main.configure_ip') }}"
          method="POST"
        >
          <input
            type="hidden"
            name="interface"
            value="{{ request.args.get('interface') }}"
          />
          <input
            type="hidden"
            name="gateway_ip"
            value="{{ request.args.get('gateway_ip') }}"
          />
          <input
            type="hidden"
            name="gateway_netmask"
            value="{{ request.args.get('gateway_netmask') }}"
          />
          <table>
            <thead>
              <tr>
                <th>IP Address</th>
                <th>IP Address</th>
                <th>IP Address</th>
                <th>IP Address</th>
                <th>IP Address</th>
                <th>IP Address</th>
              </tr>
            </thead>
            <tbody>
              {% for i in range(0, free_ips|length, 6) %}
              <tr>
                {% for j in range(i, i+6) %}
                <td>
                  {% if j < free_ips|length %}
                  <label>
                    <input
                      type="radio"
                      name="selected_ip"
                      value="{{ free_ips[j] }}"
                    />
                    {{ free_ips[j] }}
                  </label>
                  {% endif %}
                </td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="button-container">
            <button type="submit" class="header_button">Configure IP</button>
          </div>
        </form>
      </div>
    </div>

    <script>
      document
        .getElementById("configure_ip_form")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          var form = event.target;
          var formData = new FormData(form);

          fetch(form.action, {
            method: form.method,
            body: formData,
          })
            .then((response) => response.text())
            .then((data) => {
              var interface = formData.get("interface");
              var selected_ip = formData.get("selected_ip");
              var gateway_netmask = formData.get("gateway_netmask");
              var gateway_ip = formData.get("gateway_ip");
              window.location.href =
                "{{ url_for('main.config_termination') }}?interface=" +
                interface +
                "&selected_ip=" +
                selected_ip +
                "&gateway_netmask=" +
                gateway_netmask +
                "&gateway_ip=" +
                gateway_ip;
            });
        });
    </script>
  </body>
</html>

