{% extends "base.html" %} {% block title %}Keystone Home{% endblock %} {% block
content %}
<div class="header">
  <div class="header_content">
    <h1 class="header_title">
      Welcome to <span style="color: #f00">NETH4CK</span>
    </h1>
    <br />
    <p class="header_paragraph">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam quae quis
      consequatur optio? Tenetur error nihil reiciendis fugit quos, mollitia
      doloribus ipsum sunt dolores, nulla quas consequuntur molestias
      perferendis doloremque.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nemo
      praesentium voluptates quisquam sint repellendus inventore id explicabo,
      omnis dolorem nam iste fuga exercitationem vero veniam quas. In,
      asperiores. Exercitationem.
    </p>
    <br />
    <form action="{{ url_for('main.neth4ck') }}">
      <button class="header_button" type="submit">Launch</button>
    </form>
  </div>
  <div class="header_image">
    <img
      src="{{ url_for('static', filename='images/header_image.png') }}"
      alt="header"
    />
  </div>
</div>
{% endblock %}
