{% extends "base.html" %} {% block title %}Keystone Home{% endblock %} {% block
content %}
<div class="header">
  <div class="header_content">
    <h1 class="header_title">
      Welcome to <span style="color: #f00">NETH4CK</span>
    </h1>
    <br />
    <p class="header_paragraph">
      NETH4CK is an advanced network penetration testing tool designed to
      streamline the initial phases of internal penetration testing. It
      simplifies the process for pentesters by automating the steps needed to
      infiltrate into internal networks.
    </p>
    <p>
      Initially, NETH4CK assists by configuring a Raspberry Pi, which, once
      inserted into a target machine within the company, scans the internal
      network to identify an available IP address that auto-assigns it to the
      Raspberry Pi, integrating it into the network.
    </p>
    <p>
      Once inside, NETH4CK leverages powerful enumeration techniques. It detects
      and responds to network queries, exploiting weaknesses in protocols like
      LLMNR, NBT-NS, and MDNS to intercept and capture critical information.
      NETH4CK can then impersonate services, redirect traffic, and capture
      sensitive data such as hashes and credentials, setting the stage for
      further penetration testing efforts.
    </p>
    <br />
    <div style="display: flex; gap: 1rem">
      <form action="{{ url_for('main.neth4ck') }}">
        <button class="header_button" type="submit">Configure Interface</button>
      </form>
      <form action="{{ url_for('main.network_pentesting') }}">
        <button class="header_button" type="submit">Network Pentesting</button>
      </form>
    </div>
  </div>
  <div class="header_image">
    <img
      src="{{ url_for('static', filename='images/header_image.png') }}"
      alt="header"
    />
  </div>
</div>
{% endblock %}
